********************************************************************************************************************************
*                                                                                                                              *
* DRILL TAPE SUMMARY REPORT                                                                                                    *
*                                                                                                                              *
* C:\DOCUMENTS AND SETTINGS\PLACIDO DE-VITA\DESKTOP\LAVORO\GIT\BLUENRG\RF PCB\LAYOUT 2 LAYER\BLUENRG RF APP BOARD-2 LAYER.MAX  *
* Fri Apr 19 09:55:01 2013                                                                                                     *
*                                                                                                                              *
********************************************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       100      276      200      100                                                                                 
T2       200      10       200      100                                                                                 
T3       370      20       200      100                                                                                 
T4       380      3        200      100                                                                                 
T5       390      3        200      100                                                                                 
T6       400      2        200      100                                                                                 
T7       1200     2        200      100                                                                                 
